---
import NoteCard from "@/components/content/NoteCard.astro";
import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import type { Backlink } from "@/queries/partials/backlink";

import { getUrlForSanityType } from "@/lib/url";
import { cn } from "@/lib/utils";

interface Props {
  backlink: Backlink;
  class?: string;
}

const { backlink, class: className } = Astro.props;
---

{
  backlink._type === "note" ? (
    <NoteCard body={backlink?.body} class={cn(className)} />
  ) : (
    <a
      href={getUrlForSanityType(backlink._type, backlink.slug.current)}
      class={cn(className, "inline-block")}
    >
      <Card>
        <CardHeader>
          <CardTitle>{backlink.title}</CardTitle>
          <CardDescription>{backlink.description}</CardDescription>
        </CardHeader>
      </Card>
    </a>
  )
}
