---
import { getProject } from "@/queries/project";
import SanityImage from "@/components/content/SanityImage.astro";
import PortableText from "@/components/PortableText/PortableText.astro";

export interface Props {
  projectId: string;
}

const { projectId } = Astro.props;
const project = await getProject(projectId);
---

{
  project?.mainImage && (
    <SanityImage
      image={project.mainImage}
      width={400}
      height={600}
      class="w-full rounded-sm"
      alt={`${project.title} homepage`}
    />
  )
}

{/* Spacing div if no image exists */}
{!project.mainImage && <div />}

<div>
  <h3 class="my-4 text-xl font-semibold">{project.title}</h3>
  <div class="prose">
    <PortableText value={project?.body} />
  </div>
</div>
