---
import type { z } from "zod";
import { getProjectZodObject } from "@/queries/project";
import SanityImage from "@/components/content/SanityImage.astro";
import PortableText from "@/components/PortableText/PortableText.astro";

const projectZodObject = getProjectZodObject();
type ProjectResult = z.infer<typeof projectZodObject>;

export interface Props {
  project?: ProjectResult;
}

const { project } = Astro.props;
---

{
  project?.mainImage && (
    <SanityImage
      image={project.mainImage}
      width={400}
      height={600}
      class="w-full rounded-sm"
      alt={`${project.title} homepage`}
    />
  )
}

{
  project && (
    <div>
      <h3 class="my-4 text-xl font-semibold">{project.title}</h3>
      <div class="prose">
        <PortableText value={project?.body} />
      </div>
    </div>
  )
}
