---
import "src/styles/global.css";
import MetaTags from "@/components/MetaTags.astro";
import SiteHeader from "@/components/SiteHeader.astro";
import SiteSearch from "@/components/SiteSearch.astro";
import SiteFooter from "@/components/SiteFooter.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="view-transition" content="same-origin" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <slot name="metadata">
      <MetaTags />
    </slot>
  </head>
  <body class="max-w-full overflow-x-hidden">
    <script is:inline>
      // Get theme before rendering the page
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>

    <SiteHeader />
    <slot />

    <SiteSearch />
    <SiteFooter />

    <!-- Global scripts -->
    <script src="src/scripts/popover.ts"></script>
    <script src="src/scripts/imageZoom.js"></script>
    <script src="src/scripts/copyClipboard.ts"></script>
    <!-- Umami Analytics -->
    <script
      async
      src="https://analytics.spacemadness.dev/script.js"
      data-website-id="16fbd5bf-d004-4702-84ff-465ce12c591f"></script>
  </body>
</html>
