---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
}

const { class: classProp, ...restProps } = Astro.props;
---

<div
  class={cn(
    "gap-4 sm:columns-2 [&>*]:break-inside-avoid [&>*]:block [&>*]:mb-4",
    classProp,
  )}
  {...restProps}
>
  <slot />
</div>
