---
import MetaTags from "@/components/MetaTags.astro";
import {
  HannaLogo,
  JblLogo,
  NixonLogo,
  PumaLogo,
  SajeLogo,
  SalesforceLogo,
  ShiseidoLogo,
  ShopifyLogo,
  TherabodyLogo,
} from "@/components/homepage/BrandLogos";
import { DemandPdxCareer, ShopifyCareer } from "@/components/homepage/Career";
import CareerProjectBlock from "@/components/homepage/CareerProjectBlock.astro";
import Layout from "@/layouts/Layout.astro";
import { titleTemplate } from "@/lib/metadata";
import { getUrlForSanityType } from "@/lib/url";

import {
  Popover,
  PopoverContent,
  PopoverTrigger,
} from "@/components/content/Popover";

const logoCloud = [
  {
    logo: ShopifyLogo,
    alt: "Shopify",
  },
  {
    logo: TherabodyLogo,
    alt: "Therabody",
  },
  {
    logo: SalesforceLogo,
    alt: "Salesforce",
  },
  {
    logo: HannaLogo,
    alt: "Hanna Andersson",
  },
  {
    logo: PumaLogo,
    alt: "Puma",
  },
  {
    logo: SajeLogo,
    alt: "Saje Natural Wellness",
  },
  {
    logo: NixonLogo,
    alt: "Nixon",
  },
  {
    logo: JblLogo,
    alt: "JBL",
  },
  {
    logo: ShiseidoLogo,
    alt: "Shiseido",
  },
];
---

<Layout>
  <MetaTags
    title={titleTemplate("About Me")}
    description={"A bit of bio, a bit of history, a plea for paying work 😅"}
    slot="metadata"
  />
  <main>
    <header class="mx-auto my-10 w-full max-w-[1200px] p-4 sm:p-6">
      <h1
        class="mb-4 text-5xl font-bold tracking-wider text-slate-700 dark:text-slate-200"
      >
        David Witt
      </h1>
      <h2 class="text-balance text-3xl text-muted-foreground">
        Web developer, advocate, and unremarkable writer
      </h2>
    </header>

    <section class="mx-auto my-20 w-full max-w-[1200px] p-4 sm:p-6">
      <h2 class="mb-5 text-2xl font-semibold">A bit about me</h2>
      <div class="prose-custom">
        <p>
          I am a seasoned technical lead and developer advocate with a passion
          for empowering developers and driving exceptional developer
          experiences.
        </p>
        <p>
          With a strong background in full stack engineering and expertise in
          front-end development, I have led successful projects, mentored teams,
          and delivered innovative solutions for renowned brands.
        </p>

        <p>
          I build the <a href={getUrlForSanityType("project", "space-madness")}
            >Space Madness stack</a
          > to leverage some amazing tech and stitch together ideas in a
          bidirectionally linked content map. It powers this site, as well as <a
            href={getUrlForSanityType("project", "poly-love-life")}
            >Poly Love Life</a
          > where I write educational content about polyamory.
        </p>
        <p>
          When I'm not working, I dabble in the dark arts of creative writing,
          Olympic weightlifting, and exploring the majestic PNW.
        </p>
      </div>
    </section>

    {/* Past work */}
    <section class="mx-auto my-20 w-full max-w-[1200px] p-4 sm:p-6">
      <h2 class="mb-10 text-2xl font-semibold md:text-4xl">
        In the past I've done some things...
      </h2>
      <div class="past-projects-grid grid max-w-[900px] gap-14 sm:gap-10">
        <ShopifyCareer />

        <CareerProjectBlock projectId={"shopify-workshops"} />
        <CareerProjectBlock projectId={"hydrogen-tutorial-series"} />

        <DemandPdxCareer />

        <CareerProjectBlock projectId={"therabody"} />
        <CareerProjectBlock projectId={"saje"} />
      </div>
    </section>

    {/* Logo cloud */}
    <section class="mx-auto my-20 w-full max-w-[1200px] p-4 sm:p-6">
      <h2 class="mb-10 text-2xl font-semibold md:text-4xl">
        Trusted by talented folks at...
      </h2>
      <div
        class="logo-cloud mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 text-black dark:text-white sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5"
      >
        {
          logoCloud.map((logo) => (
            <logo.logo
              aria-label={logo.alt}
              className="col-span-2 max-h-12 w-full object-contain  lg:col-span-1"
              width={158}
              height={48}
              color={"currentColor"}
            />
          ))
        }
      </div>
    </section>

    {/* Work with me */}

    <section
      class="mx-auto my-20 w-full max-w-[1200px] p-4 sm:p-6"
      id="work-together"
    >
      <h2 class="mb-10 text-2xl font-semibold md:text-4xl">
        Want to work together?
      </h2>
      <div class="prose-custom">
        <p>
          If you want to hire me to build your next site with {
            (
              <Popover>
                <>
                  <PopoverTrigger>Space Madness</PopoverTrigger>
                  <PopoverContent>
                    <div class="flex flex-col justify-between gap-2 leading-snug">
                      <p>
                        A content framework that connects ideas so you can build
                        your digital garden.
                      </p>
                      <a
                        href={getUrlForSanityType("project", "space-madness")}
                        class="link"
                      >
                        Space Madness
                      </a>
                    </div>
                  </PopoverContent>
                </>
              </Popover>
            )
          }, reach out to me on <a href="https://twitter.com/davidwittness"
            >Twitter</a
          > or <a href="https://www.linkedin.com/in/dwitt/">LinkedIn</a>.
        </p>
        <p>
          Hire me on <a
            href="https://www.pangea.app/profile/f920ba4f-af90-41da-83aa-b5f86b72772f"
            >Pangea</a
          > for your next project.
        </p>
        <p>
          I am currently <strong>open</strong> to new employment opportunities.
          📧 <strong>jobs @ davidwitt.me</strong>
        </p>
      </div>
    </section>
  </main>
</Layout>

<style>
  .past-projects-grid {
    grid-template-columns: 1fr;
  }

  @media (min-width: 640px) {
    .past-projects-grid {
      grid-template-columns: 1fr 2fr;
    }
  }
  @media (min-width: 850px) {
    .past-projects-grid {
      grid-template-columns: minmax(400px, 1fr) 2fr;
    }
  }
</style>
